.App {
  background-image: url('/src/back.jpg');
  background-size: cover;
  text-align: center;
    min-height: 100vh;
}
.link{
  text-decoration: none;
  color: white;
}
 .label{
   font-size: 1.3rem;
   font-weight: 500;
 }